name: Check Feature

on:
  workflow_call:
    inputs:
      pull_request_commits:
        required: true
        type: number
      pull_request_head_sha:
        required: true
        type: string
      pull_request_base_sha:
        required: true
        type: string

jobs:
  checking-changed-files:
    runs-on: ubuntu-latest
    outputs:
      dockerfile_changed: ${{ steps.files_changed_step.outputs.dockerfile_changed }}
      gha_files_changed: ${{ steps.files_changed_step.outputs.gha_files_changed }}
      go_files_changed: ${{ steps.files_changed_step.outputs.go_files_changed }}
      makefile_changed: ${{ steps.files_changed_step.outputs.makefile_changed }}
      terraform_files_changed: ${{ steps.files_changed_step.outputs.terraform_files_changed }}
    steps:
      - name: checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: $(${{ inputs.pull_request_commits }} + 1)
          ref: ${{ inputs.pull_request_head_sha }}
          fetch-tags: false
#          fetch-depth: $(${{ github.event.pull_request.commits }} + 1)

      - name: check files changed
        id: files_changed_step
        env:
          PR_BASE_SHA: ${{ inputs.pull_request_base_sha }}
#          PR_BASE_SHA: ${{ github.event.pull_request.base.sha }}
          PR_HEAD_SHA: ${{ inputs.pull_request_head_sha }}
#          PR_HEAD_SHA: ${{ github.event.pull_request.head.sha }}
        run: |
          files_changed=$(git diff --name-only "$PR_BASE_SHA" "$PR_HEAD_SHA")

          {
            echo "dockerfile_changed=false"
            echo "gha_files_changed=false"
            echo "go_files_changed=false"
            echo "makefile_changed=false"
            echo "terraform_files_changed=false"
          } >> "$GITHUB_OUTPUT"

          if (grep -q "Dockerfile" <<< "$files_changed") then
            echo "dockerfile_changed=true" >> "$GITHUB_OUTPUT"
          fi

          if (grep -q ".github/workflows/" <<< "$files_changed") then
            echo "gha_files_changed=true" >> "$GITHUB_OUTPUT"
          fi

          if (grep -q "go.mod\|go.sum\|.*.go" <<< "$files_changed") then
            echo "go_files_changed=true" >> "$GITHUB_OUTPUT"
          fi

          if (grep -q "Makefile" <<< "$files_changed") then
            echo "makefile_changed=true" >> "$GITHUB_OUTPUT"
          fi

          if (grep -q ".github/workflows/terraform.yaml\|terraform/" <<< "$files_changed") then
            echo "terraform_files_changed=true" >> "$GITHUB_OUTPUT"
          fi
  
  

  code-linting:
    runs-on: ubuntu-latest
    needs: checking-changed-files
    if: needs.checking-changed-files.outputs.go_files_changed == 'true'
    steps:
      - name: checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: $(${{ inputs.pull_request_commits }} + 1)
          ref: ${{ inputs.pull_request_head_sha }}
          fetch-tags: false

      #################################
      ## Caching
      #################################
      - name: Go Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          cache: true
          check-latest: true
          go-version-file: 'go.mod'

      - name: private go module access
        run: |
          git config \
            --global \
            url."https://${{ secrets.ACCESS_TOKEN }}@github.com/ingka-group-digital/".insteadOf "https://github.com/ingka-group-digital/"

      - name: go linter (info)
        id: go-linter
        run: echo "version=$(make go-linter-info)" >> "$GITHUB_OUTPUT"

      - name: go linter (cache)
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        with:
          path: |
            ${{ steps.go-linter.outputs.version }}
          key: ${{ runner.os }}-go-linter-${{ steps.go-linter.outputs.version }}

      - name: lint go code
        run: make go-lint
  code-tests:
    runs-on: ubuntu-latest
    needs: checking-changed-files
    if: needs.checking-changed-files.outputs.go_files_changed == 'true'
    steps:
      - name: checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: $(${{ inputs.pull_request_commits }} + 1)
          ref: ${{ inputs.pull_request_head_sha }}
          fetch-tags: false

      #################################
      ## Caching
      #################################
      - name: Go Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          cache: true
          check-latest: true
          go-version-file: 'go.mod'

      - name: private go module access
        run: |
          git config \
            --global \
            url."https://${{ secrets.ACCESS_TOKEN }}@github.com/ingka-group-digital/".insteadOf "https://github.com/ingka-group-digital/"

      - name: test (info)
        id: test
        run: echo "version=$(make test-info)" >> "$GITHUB_OUTPUT"

      - name: Test Tool Cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.test.outputs.version }}
          key: ${{ runner.os }}-test-${{ steps.test.outputs.version }}

      - name: build
        run: make build

      - name: test
        run: make test
